@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(180, 197, 240);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
.navbar {
  display: flex;
  /* border-bottom: white 3px solid; */
}

.fontIcon {
  margin: 10px;
  margin-left: 25px;
  color: white;
}

.fontIcon:nth-of-type(2), .fontIcon:nth-of-type(3) {
  margin-left: -5px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.navbar li {
  margin-right: 60px;
/*   color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 5px;
  padding: 8px 12px; */
  cursor: pointer;
  min-width: fit-content;
}

/* .navbar li:hover {
  color: rgb(180, 197, 240);
  background-color: white;
} */

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 5px;
}

.navbar a:hover {
   color: rgb(180, 197, 240);
  background-color: white;
}

.navbar .active {
  background-color: white;
  color: rgb(180, 197, 240);
}

/* Home */
.home {
  height: 100vh;
  background-image: url('./images/background.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 80%;
}

.home > div{
  position: absolute;
  top: 20%;
  left: 15%;
  color: white;
}

.home h1 {
  font-weight: 500;
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}

.home p {
  margin: 0;
  font-size: 1.3rem;
}


/* APOD */
.apod {
  background-size: 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apod img {
  border-radius: 10px;
  width: 50%;
}

.apod p {
  width: 45%;
  font-size: 1.2rem;
  margin-bottom: 100px;
  letter-spacing: 1px;
  text-indent: 70px;
}

.apod p::first-letter {
  font-weight: bold;
  font-size: 2rem;
}

/* NasaImage */

.image-search {
  min-height: 100vh;
  height: 100%;
}

.search-section {
  height: 300px;
  background-image: url('./images/space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-section > div {
  width: 30%;
  border: 2px solid white;
  display: flex;
  align-items: center;
}

.search-section input {
  width: 90%;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px 15px;
  outline: none;
  color: white;
  background-color: transparent;
  border: none;
}

.search-section button {
  width: 10%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.fontSearchIcon {
  color: white;
}

.search-section input::placeholder {
  color: white;
}
.search-section input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}
.search-section input::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

.image-search h1 {
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}

/* @ Media queries */
@media (max-width: 780px) {
  body {
    background-size: cover;
  }

  .navbar li {
    font-size: 1rem;
    margin-right: 50px;
  }

  .fontIcon:nth-of-type(2), .fontIcon:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 425px) {
  body {
    background-size: auto;
  }

  .navbar li {
    margin-right: 15px;
    font-size: 0.8rem;
    
  }

}